*{margin: 0; padding: 0;}

.decoration { 
    background-image: url(/resources/Banner\ Image.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    padding: 200px 0;
    
}


.seconddecoration {
    background-image:linear-gradient(90deg,#070211, rgba(7, 2, 17, 0.00)),url(/resources/Vectorrr.png);
    display: flex; justify-items: center; justify-content: space-between; padding: 100px ;
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow: hidden;
    background-position: center;
    border-radius: 20px;
    background-size: cover;
    
}

.thirddecoration { 
 display: flex;

}

.fourthdecoration { height: 616px; width: 1320px; border: 10px solid rgb(228, 238, 248) ; margin-left: 260px;

background-color: rgba(255, 0, 0, 0.05);
}

.whitetext {
            text-align: center; color: azure; font-family: merriweather; font-size: 72px;
            font-weight: 900; 
            position: relative; z-index: 500;
}


.discount {

    margin: 60px 0;
    text-align: center;


}
.discount h1{
                color: red;
                font-size: 70px;
                font-weight: 700;
                margin-bottom: 15px;
               
}